<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dibware.StoredProcedureFramework.Examples.Properties.Settings.ExampleDatabaseConnection"
            connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=StoredProcedueFrameworkExamples;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>